.todos {
  flex: 1;
  padding: 0 var(--spacing-l);
  overflow: auto;
}

.todo {
  display: flex;
  margin-top: var(--spacing-l);
  font-size: var(--font-size-m);
}

.label {
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--font-color);
  cursor: pointer;

  &.checked {
    text-decoration: line-through;
    color: var(--color-white-400);
  }
}

.checkbox {
  width: 16px;
  height: 16px;
  margin-right: var(--spacing-s);
  accent-color: var(--color-orange-500);
  cursor: pointer;
}

.button {
  border-radius: 50%;
  margin-left: var(--spacing-s);
  padding: var(--spacing-xs);
  color: var(--font-color);
  background-color: var(--remove-btn-background-color);
}
