.todo-app {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 420px;
  margin: 100px auto;
  border-radius: 15px;
  background-color: var(--body-background-color);
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  border-bottom: 1px solid var(--border-color);
  border-radius: 15px 15px 0 0;
  padding: 0 var(--spacing-s);
  background-color: var(--header-background-color);
}

.theme-btn {
  width: 32px;
  height: 32px;
  font-size: var(--font-size-s);
  color: var(--theme-btn-color);

  &:hover {
    color: var(--theme-btn-color-hover);
  }
}

.todo-filter__label {
  position: relative;
  margin: 0 var(--spacing-s);
  color: var(--color-orange-500);
  font-size: var(--font-size-m);
  cursor: pointer;

  &:hover {
    color: var(--color-orange-600);
  }

  &.checked {
    border-bottom: 2px solid var(--border-color-active);
    color: var(--color-orange-600);
  }
}

.todo-filter__input {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}
