.todo-app {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 420px;
  margin: 100px auto;
  border-radius: 15px;
  background-color: var(--body-background-color);
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  border-bottom: 1px solid var(--border-color);
  border-radius: 15px 15px 0 0;
  padding: 0 var(--spacing-s);
  background-color: var(--header-background-color);
}

.theme-btn {
  width: 32px;
  height: 32px;
  font-size: var(--font-size-s);
  color: var(--theme-btn-color);

  &:hover {
    color: var(--theme-btn-color-hover);
  }
}

.todo-filter__label {
  position: relative;
  margin: 0 var(--spacing-s);
  color: var(--color-orange-500);
  font-size: var(--font-size-m);
  cursor: pointer;

  &:hover {
    color: var(--color-orange-600);
  }

  &.checked {
    border-bottom: 2px solid var(--border-color-active);
    color: var(--color-orange-600);
  }
}

.todo-filter__input {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}

.todo-list {
  flex: 1;
  padding: 0 var(--spacing-l);
  overflow: auto;
}

.todo-item {
  display: flex;
  margin-top: var(--spacing-l);
  font-size: var(--font-size-m);
}

.todo-item__label {
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--font-color);
  cursor: pointer;

  &.checked {
    text-decoration: line-through;
    color: var(--color-white-400);
  }
}

.todo-item__checkbox {
  width: 16px;
  height: 16px;
  margin-right: var(--spacing-s);
  accent-color: var(--color-orange-500);
  cursor: pointer;
}

.todo-item__rm-btn {
  border-radius: 50%;
  margin-left: var(--spacing-s);
  padding: var(--spacing-xs);
  color: var(--font-color);
  background-color: var(--remove-btn-background-color);
}

.todo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  border-radius: 0 0 15px 15px;
  padding: 0 var(--spacing-l);
  background-color: var(--footer-background-color);
}

.todo-add-input {
  flex: 1;
  height: 32px;
  outline: none;
  border: none;
  padding: 0 var(--spacing-m);
  border-radius: 8px 0 0 8px;
  font-size: var(--font-size-m);

  &::placeholder {
    color: var(--color-white-400);
  }
}

.todo-add-btn {
  height: 32px;
  border-radius: 0 8px 8px 0;
  padding: 0 var(--spacing-xl);
  background-color: var(--color-orange-500);
  font-size: var(--font-size-m);
  font-weight: bold;
  color: var(--color-white-100);

  &:hover {
    background-color: var(--color-orange-600);
  }
}
