body {
  box-sizing: border-box;
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --font-size-s: 16px;
  --font-size-m: 18px;

  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 12px;
  --spacing-l: 16px;
  --spacing-xl: 20px;

  --color-white-100: #f5f5f4;
  --color-white-200: #e7e5e4;
  --color-white-300: #d6d3d1;
  --color-white-400: #a8a29e;
  --color-white-500: #44403c;
  --color-orange-500: #fb923c;
  --color-orange-600: #f97316;
  --color-indigo-300: #6f6c91;
  --color-indigo-400: #4a4860;
  --color-indigo-500: #1e1b4b;

  --header-background-color: var(--color-white-200);
  --body-background-color: var(--color-white-100);
  --footer-background-color: var(--color-white-200);
  --border-color: var(--color-white-300);
  --border-color-active: var(--color-white-400);
  --theme-btn-color: var(--color-orange-500);
  --theme-btn-color-hover: var(--color-orange-600);
  --font-color: var(--color-white-500);
  --remove-btn-background-color: var(--color-white-300);
}

.dark {
  --header-background-color: var(--color-indigo-500);
  --body-background-color: var(--color-indigo-400);
  --footer-background-color: var(--color-indigo-500);
  --border-color: var(--color-indigo-300);
  --border-color-active: var(--color-white-100);
  --theme-btn-color: var(--color-white-100);
  --theme-btn-color-hover: var(--color-white-300);
  --font-color: var(--color-white-100);
  --remove-btn-background-color: var(--color-indigo-300);
}
